body {
    font-family: Helvetica, sans-serif;
}
/* menu */
.navbar .navbar-toggler {
    border: none;
}
/* menghilangkan box shadow bawaan bootstrap ketika sedang fokus */
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
nav, main {
    background-color: #F1F3FF;
}
/* ubah warna dari bawaan bootstrap */
.btn-success {
    background-color: #5CB85F !important;
}
.btn-success:hover {
    transition: 0.8s;
    box-shadow: 1px 5px 10px #80f323;
}
/* hapus icon bullet di list service */
.list-service {
    list-style: none;
    padding-left: 0;
}

#why-us{
    margin-top: 100px;
}

#why-us .cards {
    border: 1px solid black;
    width: 280px;
    height: 200px;
    border-radius: 8px;
    display: inline-block;
    margin-right: 30px;
}

#why-us .cards img, h6 {
    padding-top: 24px;
    padding-left: 24px;
}

#why-us .cards p {
    padding-left: 24px;
}

#testimonial h4, p {
    margin-top: 100px;
}
/* lebar carousel */
.carousel {
    width: 620px;
    background-color: #f1f3ffff;
}
.carousel .carousel-item {
    height: 300px;
}
/* ubah ukuran gambar dan menjadi bulat untuk element img pertama saja */
.carousel .carousel-item img:first-child {
    clip-path: circle();
    max-width: 80px;
    margin: 0 auto;
}
/* memilih element img yang spesifik */
.carousel .carousel-item img:nth-child(2) {
    margin: 8px 270px;
}
.carousel .carousel-item p {
    width: 70%;
    margin: 0 auto;
}
/* mengubah arrow bawaan bootstrap */
.carousel .carousel-control-prev-icon {
    background-image: url(https://i.ibb.co/nP3DS9P/left-arrow-circle-regular-36.png) !important;
}
/* mengubah arrow bawaan bootstrap */
.carousel .carousel-control-next-icon {
    background-image: url(https://i.ibb.co/y4GWSyK/right-arrow-circle-regular-36.png) !important;
}
/* call to action layout */
.cta {
    background-color: #0D28A6;
    color: #fff;
    margin: 100px auto;
    border-radius: 13px;
    text-align: center;
    padding: 70px 0;
}
/* layout paragraf */
.cta p {
    margin: 40px auto;
    font-size: 14px;
    font-weight: 300;
    width: 468px;
    height: 40px;
}

#faq {
    margin-bottom: 100px;
}

#faq h4 {
    height: 36px;
    width: 368px;
}
#faq p {
    height: 20px;
    width: 368px;
}

footer .list-section {
    padding: 0 0 20px 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
footer .list-section a {
    text-decoration: none;
    color: black;
}
/* mengatur layouts jika device seluler */
@media (max-width: 426px) {
    nav, main {
        width: 120%;
    }
    main img {
        width: 100% !important;
    }
    #our-services .img-service img {
        width: 100%;
    }
    #why-us .cards {
        width: 100% !important;
    }
    .carousel .carousel-item {
        height: 350px;
    }
    .cta {
        width: 90% !important;
    }
    .cta p {
        padding-right: 110px;
    }
    #faq  p {
        margin-bottom: 50px;
    }
}
/* mengatur layouts jika device tablet */
@media (max-width: 768px) {
    #why-us .cards {
        margin-bottom: 50px;
    }
    .carousel {
        width: 100%;
    }
    /* img rate */
    .carousel .carousel-item img:nth-child(2) {
        margin: 12px 160px;
    }
    footer .list-section {
        padding-left: 12px !important;
    }
    footer .media-social {
        padding-bottom: 10px;
    }
}
/* mengatur layouts jika device laptop */
@media (max-width: 1440px) {
    /* lebar img mobil */
    main img {
        width: 113%;
    }
    #our-services {
        margin: 100px auto;
    }
    #why-us .cards {
        margin-right: 51px;
        /* width: 20%; */
        padding-bottom: 220px;
        padding-right: 10px;
    }
    #why-us .cards:nth-child(3) {
        margin-bottom: 51px;
    }
    footer .list-section {
        padding-left: 70px;
    }
}
